.container{
   
}
.container:first-child{
    background-color: #ffffff;
}
.container:nth-child(2){
    background-color: #3d3d3d;
}
.container:last-child{
    background: linear-gradient(#3d3d3d,#ffffff);
}
.section {
    width:80%;
    margin: auto;
    padding: 50px;
    overflow: auto;
}
.container:nth-child(odd) img {
    float: left;
}
.container:nth-child(even) img {
    float: right;
}